.footer {
  background: $primary-bg;
  &__container {
    border-top: 1px solid $secondary-bg;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1.5rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media (min-width: 836px) {
      justify-content: space-between;
      padding: 0.5rem 1.5rem 1.5rem;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &__copyright {
    color: $text-secondary;
    font-size: 0.95rem;
    text-align: center;
    margin-top: 0.5rem;
    .light & {
      color: $light-text-secondary;
    }
  }
  &__grid {
    margin: 1rem 0rem;
  }
  &__brand {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__social {
    display: flex;
    gap: 1.5rem;
    margin-top: 7px;
    justify-content: center;
  }
  &__social-link {
    padding: 0.75rem;
    border-radius: 0.75rem;
    background: $secondary-bg;
    color: $text-secondary;
    border: 1px solid $secondary-bg;
    transition: color 0.22s, transform 0.18s;
    .light & {
      color: $light-accent-cyan !important;
      background: transparent !important;
      transition: color 0.2s;
    }
    &:hover,
    &:focus {
      color: $accent-cyan;
      transform: scale(1.13);
    }
  }
}
