@use "../../base/variables" as *;
@use "../../base/mixins" as *;
@use "../atoms/input" as *;

.search {
  width: 100%;
  background: $secondary-bg;
  border-radius: $border-radius-lg;
  padding: 0.2rem 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);

  @include light-mode {
    background: $light-secondary-bg;
    border: 1px solid $light-border-color;
  }

  input:focus-visible {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
  }

  &__input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: $text-primary;
    padding: $spacing-sm $spacing-md;
    border-radius: $border-radius-md;

    @include light-mode {
      color: $light-text-primary;
    }

    &::placeholder {
      color: $text-secondary;
      opacity: 0.8;

      @include light-mode {
        color: $light-text-secondary;
      }
    }
  }
}

.search-group {
  @extend .input-group;
}
