@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.section-layout {
  @include section;

  @include light-mode {
    background: $light-primary-bg;
  }

  &--secondary {
    background-color: $secondary-bg;

    @include light-mode {
      background-color: $light-secondary-bg;
    }
  }

  &-container {
    @include container;
  }

  &-header {
    text-align: center;
    margin-bottom: $spacing-3xl;

    .section-title {
      @include heading-xl;
      margin-bottom: $spacing-xl;

      @include light-mode {
        color: $light-text-primary;
      }
    }

    .section-divider {
      width: 6rem;
      height: 0.25rem;
      background-color: $accent-cyan;
      margin: 0 auto $spacing-xl;

      @include light-mode {
        background-color: $light-accent-cyan;
      }
    }

    .section-description {
      @include text-body;
      color: $text-secondary;
      max-width: 42rem;
      margin: 0 auto;

      @include light-mode {
        color: $light-text-secondary;
      }
    }
  }
}
